@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    color:#4D30FC;
    text-shadow: 3px 3px 3px #eb2ef290;
}

h1 {
    color:#7F36E5
}

h2 {
    color: #BD30FC;
}

.basico {
    color: green
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}