@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(45deg, #F4A9A0, #F3E9C0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #87635f90;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A6B4E6;
    text-align: center;
    text-shadow: 1px 1px 2px #59607a8d;
}

h2 {
    color: #D9A7EB;
    text-shadow: 1px 1px 2px #67506f91;

}

p {
    text-align: justify;
}